<footer class="footer">
  <nav class="navbar navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <hr>
        <!-- <div class="col-lg-12"> -->
          <div class="col-md-8">
            <p>© 2016 WTFPL – Do What the Fuck You Want to Public License.</p>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </nav>
</footer>
</body>
</html>
