<% include header %>

  <h1><%-title %></h1>
  </br>
  <h4>Welcome to <%-title %></h4>
  <h4>A web page that allow you to vizualize the repartition areas in France of the two main former french languages, the Oc language and the Oïl language.
<% include footer %>
